<% title t('users.edit.title') %>

<h1><span class="h1"><%= t('users.edit.heading') %></span></h1>

<% semantic_form_for(@user) do |f| %>
    <%= f.inputs :name, :department, :name => t('users.edit.account_information') %>
    <%= f.inputs :password, :password_confirmation, :name => t('users.edit.password_information') %>
    <%= f.buttons %>
<% end %>

<%= back_link t('users.edit.back_link'), user_path(@user.id), :class=>"button" %>
