<% title t('users.show.heading', :name => @user.name) %>

<h1><span class="h1"><%= t('users.show.heading') %></span></h1>

<span class="last_login"><%= t('users.show.last_login', :ip => @user.last_login_ip, :time => @user.last_login_at) %></span>

<ul class="info">
  <%= field_list_item(@user, :name) %>
  <%= field_list_item(@user, :created_at) %>
</ul>

<%= link_to t('users.show.edit_link'), edit_user_path(@user), :class=>"button" %>
<%= link_to t('users.show.back_link'), users_path, :class=>"button" %>

<h2><span class="h2"><%= t('users.show.projects') %></span></h2>
<%= render :partial => "layouts/table_beginning" %>
<% table_for Project, @user.projects, linked(:name), linked_to(:leader), :start_at, :end_at, :work_hours %>
<%= render :partial => "layouts/table_end" %>
