<% title t('projects.show.heading', :name => @project.name) %>

<h1><span class="h1"><%= t('projects.show.heading') %></span></h1>

<% if @project.leader == current_user %>
    <ul class="info">
      <%= field_list_item(@project, :id) %>
      <%= field_list_item(@project, :name) %>
      <%= field_list_item(@project, :leader, :name) %>
      <%= field_list_item(@project, :leader, :department, :name) %>
      <%= field_list_item(@project, :start_at) %>
      <%= field_list_item(@project, :end_at) %>
    </ul>

    <%= tabs %>
<% else %>
    <% table_with_totals_for Task, @tasks, :at_string, :work_hours %>
<% end %>

<%= link_to t('projects.show.edit_link'), edit_project_path(@project), :class=>"button" %>
<%= link_to t('projects.show.tasks_link'), project_budgets_path(@project), :class=>"button" %>
<%= back_link t('projects.show.back_link'), projects_path, :class=>"button" %>
