<% title t('projects.show.heading', :name => @project.name) %>

<h1><span class="h1"><%= t('projects.show.heading') %></span></h1>

<% if @project.leader == current_user %>
  <%= render :partial => 'projects/project_info' %>
    <%= tabs %>
<% else %>
    <% table_with_totals_for Task, @tasks, :at_string, :work_hours %>
<% end %>

<%= link_to t('projects.show.edit_link'), edit_project_path(@project), :class=>"button" %>
<%= link_to t('projects.show.tasks_link'), project_budgets_path(@project), :class=>"button" %>
<%= back_link t('projects.show.back_link'), projects_path, :class=>"button" %>
