<% title t('projects.show.heading', :name => @project.name) %>

<h1><%= t('projects.show.heading') %></h1>

<ul class="info">
  <%= field_list_item(@project, :id) %>
  <%= field_list_item(@project, :name) %>
  <%= field_list_item(@project, :leader, :name) %>
  <%= field_list_item(@project, :leader, :department, :name) %>
  <%= field_list_item(@project, :start_at) %>
  <%= field_list_item(@project, :end_at) %>
</ul>

<h2>Workers</h2>

<%= hours_worked(@project) %>

<% @project.users.group_by(&:department).each do |department, users| %>
    <h3>Department <%= department.name %></h3>
    <table border="1" cellspacing="0">
      <tr>
        <th>Name</th>
        <th>Worked (hours)</th>
      </tr>

      <% users.each do |user| %>
          <tr>
            <td><%= user.name %></td>
            <td><%= user.work_hours %></td>
          </tr>
      <% end %>
      
      <tr>
        <th>Total:</th>
        <td><%= users.sum(&:work_hours) %></td>
      </tr>
    </table>
<% end %>

<%= link_to t('projects.show.edit_link'), edit_project_path(@project) %> |
<%= link_to t('projects.show.back_link'), projects_path %>