<% title "Sign in" %>

<% form_for @user_session do |form| %>
    <%= form.error_messages %>
    <ol class="form">
      <li>
        <%= form.label :email %>
        <%= form.text_field :email %>
      </li>
      <li>
        <%= form.label :password %>
        <%= form.password_field :password %>
      </li>
      <li>
        <%= form.submit "Sign in" %>
      </li>
    </ol>
<% end %>